.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.filter-btn {
    background: #e67e22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.filter-btn:hover {
    background: #d35400;
    transform: scale(1.1);
}

.filter-btn.highlight {
    background: #d35400;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.filter-btn {
    animation: fadeIn 0.5s ease-in-out forwards;
}