.menuPage {
    padding: 20px;
    background-color: #f4f4f4;
}

.menuPage-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error-message {
    text-align: center;
    color: red;
}

.menu-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.menu-item-img {
    max-width: 100%;
    border-radius: 8px;
}

.menu-item-info {
    padding: 10px;
}

.menu-item-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.menu-item-price {
    color: #e74c3c;
    font-size: 1.25rem;
}

.menu-item-desc {
    color: #555;
}