.slider-container {
    margin: 10px auto;
    width: 700px;
    height: 300px;
    overflow: hidden;
    margin-right: 200px;
    border-radius: 30px 50px 100px 50px / 100px 50px 50px 50px;
}

.slider-image {
    position: absolute;
    right: 400px;
    width: 60%;
    height: 240px;
    margin-top: 30px;
    border-radius: 14px;
}